{% extends "base.html" %}
{% block content %}
<div class="background">
    <div class="overlay"></div>
    <div class="content">
        <h1>About Us</h1>
        <div class="container">
            <h2>webwavemakers</h2>
            <!-- <p>Details about the inventors go here. You can add names, photos, and bios of the team members.</p> -->
            <div class="inventors">
                <div class="inventor">
                    <!-- <img src="templates\pic.jpg" alt="Inventor 1"> -->
                    <h3>Prashanth Reddy and Karthik</h3>
                    <p>Persuing btech at IIIT Vadodhara</p>
                </div>
                <!-- <div class="inventor">
                    <img src="path_to_inventor_image2.jpg" alt="Inventor 2">
                    <h3>Karthik</h3>
                    <p>Brief bio about Inventor 2.</p>
                </div> -->
                <!-- Add more inventors as needed -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
